@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

body {
  background: #00b1cc;
}

.contenedor {
  height: 285px;
  width: 50%;
  display: flex;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 14px 18px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-sizing: border-box;
}

.contenedor .img {
  width: 50%;
}

.contenedor .img img {
  width: 100%;
  /* vertical-align: top; */
}

.producto-info {
  width: 50%;
  border-radius: 0 7px 10px 0px;
  background: #fff;
}

.producto-texto {
  width: 100%;
}

.producto-texto h1 {
  margin-left: 65px;
  padding-top: 5px;
  font-size: 34px;
  color: #474747;
  font-weight: 700;
}

.producto-texto h2 {
  margin: -20px 0 20px 80px;
  font-size: 20px;
  color: #d2d2d2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.producto-texto p {
  height: 100px;
  margin: 20px 30px 20px 30px;
  font-weight: 300;
  color: #8d8d8d;
  line-height: 1.6em;
}

.producto-texto h1,
h2,
p {
  font-family: "Roboto", sans-serif;
}

.precio-btn {
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.precio-btn a {
  height: 40px;
  width: 130px;
  align-self: center;
  border-radius: 60px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  background: #6f8b9d;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

.precio-btn a:hover {
  background: #00b1cc;
}
